.payment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.payment-table th, .payment-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
}

.payment-table th {
  background-color: #f9f9f9;
}
